.container {
	padding-left: 42px;
	padding-right: 42px;
	width: 100%;
}

.header {
	height: 48px;
}

.row {
	min-height: 72px;
	transition: background-color 0.2s ease, box-shadow 0.2s ease;
	border-radius: 8px;
}

.row:hover {
	background-color: rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05);
}