# MAINNET CONFIGURATION
VITE_COMPTROLLER_ADDRESS_MAINNET=0x7E81fAaF1132A17DCc0C76b1280E0C0e598D5635

# Mainnet RPC Endpoints
VITE_APECHAIN_MAINNET_RPC_HTTP=https://rpc.apechain.com/http
VITE_APECHAIN_MAINNET_RPC_WS=wss://rpc.apechain.com/ws
VITE_APECHAIN_MAINNET_BLOCK_EXPLORER=https://apescan.io/


# TESTNET CONFIGURATION
VITE_COMPTROLLER_ADDRESS_TESTNET=0x7E81fAaF1132A17DCc0C76b1280E0C0e598D5635

VITE_APECHAIN_CURTIS_RPC_HTTP=https://curtis.rpc.caldera.xyz/http
VITE_APECHAIN_CURTIS_RPC_WS=wss://curtis.rpc.caldera.xyz/ws
VITE_APECHAIN_CURTIS_BLOCK_EXPLORER=https://curtis.apescan.io/

# CLOUDFLARE TURNSTILE
VITE_TURNSTILE_SITE_KEY=0x4AAAAAABlNqJ-tHnFkIYRh

# POSTHOG ANALYTICS
VITE_POSTHOG_API_KEY=phc_your_api_key_here
VITE_POSTHOG_API_HOST=https://app.posthog.com
# Enable PostHog proxy to bypass adblockers (true/false)
VITE_POSTHOG_USE_PROXY=true

