/* Inter Variable Font - Normal */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('./Inter/Inter-VariableFont_opsz,wght.ttf') format('truetype-variations');
}

/* Inter Variable Font - Italic */
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url('./Inter/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype-variations');
}