/* Montserrat Variable Font - Normal */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('./Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype-variations');
}

/* Montserrat Variable Font - Italic */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url('./Montserrat/Montserrat-Italic-VariableFont_wght.ttf') format('truetype-variations');
}