.container {
    display: flex;
    margin-bottom: 44px;
}

.metric {
    width: 108px;
    
    &:not(&:last-child) {
        margin-right: 24px;
    }
}

.label {
    font-size: 16px;
    margin-bottom: 10px;
    color: #CAD5FF;
}

.value {
    font-size: 24px;
    font-weight: 900;
    color: #fff;
}

.dimension {
    color: #CAD5FF;
}