.container {
	display: flex;
	align-items: center;
}

.list {
	display: flex;
	align-items: center;
	list-style: none;
	margin: 0;
	padding: 0;
}

.link {
	margin-right: 35px;
}

.link a {
	color: var(--color-text-inversion);
	text-decoration: none;
	font-family: var(--font-heading-menu-family);
	font-size: var(--font-heading-menu-size);
	font-weight: var(--font-heading-menu-weight);
	line-height: var(--font-heading-menu-line-height);
	transition: opacity 0.2s ease;
}

.link a:hover {
	opacity: 0.8;
	cursor: pointer;
}