.container {
    display: flex;
    align-items: center;
}

.list {
    display: flex;
    align-items: center;
}

.link {
    color: var(--color-text-default);
    font-family: var(--font-heading-menu-family);
    font-size: var(--font-heading-menu-size);
    font-weight: var(--font-heading-menu-weight);
    line-height: var(--font-heading-menu-line-height);
    margin-right: 35px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.link:hover {
    color: var(--color-accent-miracle-1);
    transform: scale(1.05);
}

.link_active {
    color: var(--color-accent-miracle-1);
    font-family: var(--font-heading-menu-active-family);
    /* font-weight: var(--font-heading-menu-active-weight); */
}