.faucetButton {
	display: flex;
	align-items: center;
	gap: 8px;
	padding: 8px 16px;
	background: var(--color-accent-green);
	color: var(--color-white);
	border: none;
	border-radius: 8px;
	font-family: var(--font-text-small-family);
	font-size: 13px;
	font-weight: var(--font-text-small-bold-weight);
	cursor: pointer;
	white-space: nowrap;
	text-decoration: none;
	outline: none;
	user-select: none;
	margin-right: 42px;
}

.faucetButton:hover {
	background: rgb(104, 189, 99);
}


