.container {
    display: flex;
    align-items: center;
    margin-left: 5px;
    padding: 8px 16px;
}

.connectButton {
    background: var(--color-accent-orange, #fe8258);
    color: var(--color-white);
    border: none;
    border-radius: 18px;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 16px;
    cursor: pointer;
    transition: transform 0.3s ease;
    box-sizing: border-box;
    min-width: 133px;
    text-align: center;
}

.connectButton:hover {
    transform: scale(1.05);
}

.connectButton:focus {
    outline: none;
}