.container {
    position: absolute;
    left: 0;
    top: 25px;
    padding-left: 15px;
}

.container ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.item {
    color: var(--color-accent-ice);
    margin-bottom: 20px;
}

.link {
    color: var(--color-accent-ice);
    font-family: var(--font-heading-menu-family);
    font-size: var(--font-heading-menu-size);
    font-weight: var(--font-heading-menu-weight);
    line-height: var(--font-heading-menu-line-height);
}