.container {
    position: absolute;
    left: 0;
    top: 25px;
    padding-left: 15px;
}

.container ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.item {
    color: #CAD5FF;
    margin-bottom: 20px;
}

.link {
    color: #CAD5FF;
    font-weight: 600;
    font-size: 20px;
}