.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 69px;
    padding-bottom: 41px;
    margin-bottom: 32px;
}

.description {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
    font-size: 44px;
    color: #FFFFFF;
    margin-bottom: 34px;
}

.text {
    position: relative;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
    font-size: 24px;
    color: #FFFFFF;
    margin-bottom: 50px;

    &:before {
        content: url('../../../assets/svg/heart.svg');
        position: absolute;
        top: -5px;
        left: -67px;
    }

    &:after {
        content: url('../../../assets/svg/heart.svg');
        position: absolute;
        top: -5px;
        right: -75px;
    }
}