.container {
    font-family: var(--font-text-small-family);
    font-size: var(--font-text-small-size);
    font-weight: var(--font-text-small-weight);
    color: var(--color-text-default);
    padding: 0 12px;
}

.container_left {
    text-align: left;
}

.container_center {
    text-align: center;
}

.container_right {
    text-align: right;
}

.content {
    display: inline-flex;
    align-items: center;
    height: 100%;
}