.container {
    font-size: 16px;
    color: #18171E;
    padding: 0 12px;
}

.container_left {
    text-align: left;
}

.container_center {
    text-align: center;
}

.container_right {
    text-align: right;
}

.content {
    display: inline-flex;
    align-items: center;
    height: 100%;
}